body {
    text-align: center;
    transition-property: all;
    flex-wrap: nowrap;
    /* justify-items: center;
    align-content: center; */
}

div {
    border: 1px red  solid;
}

/* span {
    border: 1px red solid;
    flex: 1;

} */

.topFlex {
    border: 2px black solid;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.topRow {
    border: 2px black solid;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* justify-content: space-around; */
}

.middleRow {
    border: 2px black solid;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bottomRow {
    border: 2px black solid;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.boxUnit {
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #2B0000, goldenrod, brown, brown,  brown, goldenrod, #4F0000, brown, brown);
    flex: 1;
    /* align-self: center; */
    border-radius:26px;
    height: 100px;
    max-width: 100px;

}

.boxSlice {

    flex: 1;
    margin: -3px;
    max-height: 6px;
    min-height: 6px;


    border: black solid 2px;
    border-radius: 2px;
    background-image: linear-gradient(to left, silver, white, silver);

    display: flex;
    justify-content: space-around;
    
}

.boxSliceFeatureUpper {

    flex: 1;

    margin-top: -4px;
    height: 16px;
    max-width: 8px;
    border-radius: 3px;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;

    background-color: silver;
    border: black solid 2px;

}

.boxSliceFeatureLower {

    flex: 1;

    margin-top: -10px;
    height: 16px;
    max-width: 8px;

    border-radius: 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


    background-color: silver;    
    border: black solid 2px;

}


.bottomBox {
    border: 2px black solid;
    flex-grow: 1;
}

.andItsRed {
    background-color: red;
    flex-grow: 2;
}


@media screen and (max-width: 480px) {
    .containerLower {
        flex-direction: row;
    }
    .innerElement3 {
        height: 20vh;
    }
}